.form1 {
    background-color: #333;
    margin-top: 200px;
    padding: 90px;
    border-radius: 10px;
}

.title1 {

    margin: 30px 0px;
    padding: 50px 0px;
    color: #e0a951;
    font-size: 20px;
    font-weight: 600;
}

.label {
    color: #e0a951;
    font-size: 20px;
}

// .f1 {
//     margin-top: 5px;
//     padding-top: 10px;
// }

.btn2:hover {
    background-color: #f39600;
}