:root {
    --color-131921: #131921;
    --color-3b4149: #3b4149;
    --color-febd69: #c37c1f;
    --color-232f3e: #232f3e;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 30px;
    margin-top: 80px;
}

.product-item {
    background-color: #fff;
    border: 1px solid #e1e1e1;
    padding: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    border-radius: 10px;
    /* overflow: hidden; */
    position: relative;
    text-align: center;
}

.product-item img {
    width: 100%;
    max-height: 200px;
    display: block;
    position: relative;
    top: -10px;
    left: -10px;
    transition: transform 0.2s ease-in-out;
}

.product-item p {
    font-size: 14px;
    color: #666;
    margin: 5px 0;
}

.product-item:hover {
    transform: translateY(-5px);
    box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.product-item:hover img {
    transform: scale(1.1);
}

.button-container {
    justify-content: center;
    padding: 20px 30px;
    justify-content: space-between;
    display: flex
}

button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    margin: 0 5px;
}

button:hover {
    background-color: var(--color-febd69);

}

.pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 30px;
}

.show {
    display: block;
}

.hidden {
    display: none;
}