form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h3 {
    color: #015148;
}

.input-field {
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin: 10px 0;
    transition: border-color 0.3s ease-in-out;

    &:focus {
        outline: none;
        border-color: #00796B;
    }
}

button {
    padding: 10px 20px;
    background-color: #015148;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;

    &:hover {
        background-color: #0056b3;
    }
}