// .form-div {
//     background-color: #333;
//     margin-top: 0px;
//     padding: 70px 190px;
//     border-radius: 15px;
//     width: 100%
// }

body {
    overflow-x: hidden;
    margin-top: 0;
}

h4 {


    color: #e0a951;
}

.btn {
    background-color: #e0a951;
    color: #fff;
    margin-top: 20px;
    margin-left: 1px;
}

.error-message {
    color: #e0a951;
}

.input1 {
    border-radius: 10px;
    background-color: #fff;
}